table tr td{
	width: 50px;
	height: 50px;
	border: solid 1px #000;
}

.move{
	background-color: #f00!important;
}

.kill{
	background-color: #0f0!important;
}

.white{
	background-color: #ff0;
}

.black{
	background-color: #0ff;
}